<section class="section --full-width hstack">
  <canvas data-notepad class="fill"></canvas>
</section>

<script>
  socket.connect()

  // Now that you are connected, you can join channels with a topic:
  let channel = socket.channel("board:<%= @board.code %>", {})
  channel.join()
    .receive("ok", resp => { console.log("Joined successfully", resp) })
    .receive("error", resp => { console.log("Unable to join", resp) })

  export default socket
</script>
