@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("/fonts/LibreFranklin-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #331f00;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0em;
}
h3 {
  font-size: 17px;
  font-weight: 700;
}
h4 {
  font-size: 17px;
  font-weight: 500;
}
h5 {
  font-size: 12px;
  font-weight: 700;
}
h6 {
  font-size: 12px;
  font-weight: 500;
}

a {
  color: #331f00;
  text-decoration: underline;
}
a:visited {
  color: #665b49;
}

.plain-link {
  text-decoration: none;
}
.plain-link:visited {
  color: #331f00;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
